

# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Django
# ==========================

db.sqlite3
*.sqlite3

media/

# Django migrations cache
*.pyc

# ==========================
# Virtual Environment
# ==========================

venv/
env/
ENV/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# IDE / Editors
# ==========================

.vscode/
.idea/

# ==========================
# Pydroid 3
# ==========================

.pydroid/

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Coverage / Testing
# ==========================

.coverage
htmlcov/
.pytest_cache/

# ==========================
# Build Files
# ==========================

build/
dist/
*.egg-info/

# ==========================
# Static Collection
# ==========================

staticfiles/

# ==========================
# Temporary Files
# ==========================

*.tmp
*.bak