

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Django
# ==========================
/db.sqlite3
*.sqlite3
/media/
/staticfiles/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Virtual Environments
# ==========================
venv/
env/
ENV/
.venv/

# ==========================
# IDE / Editors / Mobile Dev
# ==========================
.vscode/
.idea/
.pydroid/
*.swp

# ==========================
# OS Files & Logs
# ==========================
.DS_Store
Thumbs.db
*.log

# ==========================
# Testing & Build Files
# ==========================
.coverage
htmlcov/
.pytest_cache/
build/
dist/
*.egg-info/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.bak
