



{% extends "base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block content %}

<h1>Change Password</h1>

<form method="post">

    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}

        <div class="form-group">

            {{ field.label_tag }}

            {{ field }}

            {% for error in field.errors %}
                <div class="field-error">
                    {{ error }}
                </div>
            {% endfor %}

        </div>

    {% endfor %}

    <button
        type="submit"
        class="btn btn-primary"
    >
        Change Password
    </button>

</form>

{% endblock %}


