


{% extends "base.html" %}


{% block title %}
    Products | AI Ecommerce
{% endblock %}


{% block content %}

    <h1>
        Products
    </h1>

    {% for product in products %}

        <article>

            <h2>

                <a
                    href="{% url 'products:detail' product.slug %}"
                >
                    {{ product.name }}
                </a>

            </h2>

            <p>
                {{ product.description }}
            </p>

            <p>
                ${{ product.price }}
            </p>

            <p>
                Stock: {{ product.stock }}
            </p>

        </article>

    {% empty %}

        <p>
            No products available.
        </p>

    {% endfor %}

{% endblock %}