


{% extends "base.html" %}


{% block title %}

    Delete Product | AI Ecommerce

{% endblock %}


{% block content %}

<div class="delete-product-page">

    <div class="delete-card">

        <div class="delete-icon">

            ⚠️

        </div>


        <h1>

            Delete Product

        </h1>


        <p>

            Are you sure you want to delete

            <strong>

                "{{ object.name }}"

            </strong>

            ?

        </p>


        <p class="warning-text">

            This action cannot be undone.

        </p>


        <form
            method="post"
            class="delete-form"
        >

            {% csrf_token %}


            <button
                type="submit"
                class="btn btn-danger"
            >

                Delete Product

            </button>


            <a
                href="{% url 'products:detail' object.slug %}"
                class="btn btn-secondary"
            >

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}